nav {
  background-color: rgb(204, 219, 241);
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: rgb(17, 21, 20);
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: rgb(167, 169, 240);
}

nav ul li a.activo {
  background-color: #4c76a5;
}
