h2 {
  color: black;
}

.spinner {
  background-color: black;
  width: 3vw;
  height: 3vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 0.5vw solid #000035;
  border-left-color: cadetblue;
  animation: spinner 1s ease-out infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.hotels-container {
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
}
