.App {
  text-align: center;
}

.App-Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

a {
  font-family: "Averia Serif Libre", serif;
  text-decoration: none;
  color: rgb(4, 9, 41);
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: #2e64a1;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
